<h1>My tasks</h1>
<div id="checkboxes">
  <ul>
    <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= "#{"checked" if task.completed}" %>>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do%>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<br>
<br>
<br>
<br>
<p><%= link_to 'Add a new task', new_path %></p>
