// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: sans-serif;
  padding: 30px;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
  padding-left: 0;
}


h2 {
  padding: 20px;
  background-color: #F7F7F7;
  border: 0.5px solid #CFCED5;
  border-radius: 5px;
}

a {
  color: #0032EE;
  text-decoration: none;
}

a:hover {
  color: #221077;
}

.btn-primary {
  width: 120px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  a {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}
